{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "@components": "./src/components",
          "@hooks": "./src/hooks",
          "@page": "./src/page"
        }
      }
    ]
  ]
}
