@tailwind base;
@tailwind components;

@layer base {
  body {
    @apply font-inter box-border;
  }

  .dark {
    @apply bg-dark;
  }

  /* ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em !important;
    margin-bottom: 1 em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 40px !important;
  }

  li {
    display: list-item;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 40px !important;
  } */

  h1 {
    display: block;
    font-size: 2em !important;
    margin-top: 0.67em !important;
    margin-bottom: 0.67em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
  }

  h2 {
    display: block;
    font-size: 1.5em !important;
    margin-top: 0.83em !important;
    margin-bottom: 0.83em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
  }

  h3 {
    display: block;
    font-size: 1.17em !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
  }

  h4 {
    display: block;
    font-size: 1em !important;
    margin-top: 1.33em !important;
    margin-bottom: 1.33em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
  }

  h5 {
    display: block;
    font-size: 0.83em !important;
    margin-top: 1.67em !important;
    margin-bottom: 1.67em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
  }

  h6 {
    display: block;
    font-size: 0.67em !important;
    margin-top: 2.33em !important;
    margin-bottom: 2.33em !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-weight: bold !important;
  }

  pre {
    display: block;
    font-family: monospace !important;
    white-space: pre !important;
    margin: 1em 0 !important;
  }

  blockquote {
    border-left: 3px solid #ccc !important;
    margin: 1.5em 10px !important;
    padding: 0.5em 10px !important;
    quotes: '\201C''\201D''\2018''\2019' !important;
    opacity: 0.7 !important;
  }

  body {
    .tippy-box {
      border-radius: 8px;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.2rem;
      background-color: rgba(84, 84, 84, 0.92);
      color: white;
    }

    .tippy-arrow {
      color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
      top: -8px;
    }

    .tippy-content {
      padding: 8px 9px;
    }
  }

  html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
  }

  html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
  }

  html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

@layer components {
  .btn {
    @apply border-2 px-4 py-2 rounded  cursor-pointer text-base border-none inline-flex justify-center items-center mx-2;
  }
}

.container-my {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  grid-auto-rows: minmax(300px, 300px);
  grid-gap: 10px;
}

.myBorder {
  border-bottom: 3px solid;
}
