@tailwind base;
@tailwind components;

@layer base {
  body {
    @apply font-inter;
  }

  .h4 {
    @apply text-2xl block;
  }

  .h3 {
    @apply text-3xl block;
  }

  .h1 {
    @apply text-5xl font-bold;
  }

  html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
  }

  html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
  }

  html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

@layer components {
  .btn {
    @apply mx-2 shadow-current border-2 px-4 py-2 rounded  cursor-pointer text-base border-none inline-flex justify-center items-center mx-2;
  }
}

.container-my {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  grid-auto-rows: minmax(300px, 300px);
  grid-gap: 10px;
}
