.search {
  --search-border-radius: 92px;
  --search-height: 35px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  margin-left: 1.2rem;
  height: var(--search-height);
  width: 250px;
  padding-left: 10px;
  border-radius: var(--search-border-radius);
  display: flex;
  align-items: center;

  input {
    flex: 1;
    height: 100%;
    background-color: transparent;
    font-size: 1.6rem;
  }
}

.search-btn {
  height: 35px;
  width: 35px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.search-result {
  width: 350px;
  padding: 4px;
}

.search-title {
  padding: 5px 12px;
  font-size: 1.4rem;
  font-weight: 600;
}

.loading-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .loading {
    margin: 5px;
    border: 3px solid #5d5d5d33;
    border-top-color: var(--primary);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
