.editor {
  box-sizing: border-box !important;
  cursor: text !important;
  padding: 16px !important;
  margin-bottom: 2em !important;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px !important;
}
