.btnIcon {
  margin: 0px 4px;
  display: flex;
  justify-content: center;
  height: 40px;
  min-width: 40px;
  align-items: center;
  border-radius: 90px;

  span {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px;
  }
}
