.header {
  display: flex;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  height: var(--default-layout-header-height);
  width: 100%;
  padding: 0px 16px;
  align-items: center;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  .logo-header {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .wrapper-menu-left {
    width: 350px;
    display: flex;
    align-items: center;
  }

  .wrapper-icon {
    height: 100%;
    display: flex;
    align-items: center;

    .icon {
      height: 100%;
      color: var(--text-grey) !important;
      margin: 0px 20px;

      &:hover {
        background-color: #18181845;
      }

      &.active {
        color: var(--primary);
        border-radius: 0px;
        border-bottom: 3px solid var(--primary);
        span {
          svg {
            fill: var(--primary);
          }
        }
      }
    }
  }

  .wrapper-menu-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 350px;

    .avt-user {
      width: 35px;
      height: 35px;
      border-radius: 90px;
    }
  }
}
