.wrapper {
  flex: 1;

  .header-profile {
    background-color: #242526;
    min-height: 200px;
    .image-cover-content {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 73%;
        height: 400px;
        object-fit: cover;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    .user-content {
      padding: 0px 250px;
      height: 140px;
      display: flex;

      .content-left {
        flex: 1;
        .avatar {
          position: relative;

          img {
            position: absolute;
            top: -37px;
            border: 2px solid #555;
            width: 168px;
            height: 168px;
            border-radius: 100px;
          }
        }
        .info {
          margin-left: 185px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 140px;
        }
      }
    }

    .content-right {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex: 1;

      .btn-edit {
        margin-bottom: 20px;
        border-radius: 4px;
        font-size: 1.4rem;
        font-weight: 500;
        height: 36px;
        padding: 0px 12px;
      }
    }
  }
}
